<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"
        />

        <title>TravelAPP</title>
        
        <link type="stylesheet" href='/styles/styles.css'>
    </head>
    <body>
        <h1>Travel APP<em id='title'>get your forecast here</em></h1>
        <main>
           
            

            <form onsubmit="Client.getKeys(e)">
                <div id="inp">
                    <input
                        type="text"
                        id="destination"
                        placeholder="I would like to travel to..."
                    />
                    <input type="date" id="departure" />

                    <input type="submit" value="Submit" id="submit" class='btnSubmit'/>
                </div>
            </form>
            <div id="container">
                <img
                    id="destinationpic" 
                    
                    
                />
                <article>
                    <h2 id="desTitle">Destination</h2>
                    <h3>Your trip is <em id="daysAway">days away</em></h3>

                    
                    <div id="dataCont">
                        <h3 id="temperature">Temperature:</h3>
                        <h3 id="forecast">Description</h3>
                        <h3 id="population">Population</h3>
                    </div>
                </article>
                <!-- <button id="saveTrip">Save Trip</button> -->
            </div>
        </main>
       <footer>@Praneetha</footer>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js').then(registration => {
                        console.log('SW registered: ', registration);
                    }).catch(registrationError => {
                        console.log('SW registration failed: ', registrationError);
                    });
                });
            }
        </script>
    </body>
</html>
